/*
	Title:	style for kxsystems.github.io
	Author:	stephen@kx.com
 */

 @import url("reset.css");

@include font-face("ProximaNova", "css/fonts/ProximaNova-Regular",normal, $file-formats:woff);
@include font-face("ProximaNova", "css/fonts/ProximaNova-Bold",bold, $file-formats:woff);

/* typography
............................................................................ */
body {
	background: rgb(12,12,0);
	color: #404041;
	font-family: ProximaNova, sans-serif;
	font-size: .9375rem;
	line-height: 1.4em;
}
h1, h2 {
	font-weight: bold;
}

/* elements
............................................................................ */

a {
	color: #404041;
	display: inline-block;
	padding: 0.1rem;
	text-decoration: none;
}
a:hover {
	background-color: #000;
	color: #fff;
}
a.facebook:hover, a.linked-in:hover, a.web:hover {
	background-color: transparent;
}

em {
	font-style: italic;
}

h1 { /* page title */
	color: #fff;
	font-size: 1.6em;
	margin: 5em 0 .8em 0.5em;
}
img.icon {
	width: 16px;
}
td {
	padding: 0 .5em;
	vertical-align: top;
}
th.hdg {
	padding: 1em 0 .3em 0;
	text-align: left;
	text-transform: uppercase;
}

/* layout, stacking order, opacity
............................................................................ */
#banner img {
	position: fixed; top: 0; left: 0;
	width: 100%;
	z-index: 0;
}
#featured {
	max-width: 40em;
	min-width: 20em;
}
.panel { /* DIVs and TABLEs in #categories and #interfaces */
	background-color: #fff;
	display: inline-block;
	margin: .5em;
	opacity: .8;
	vertical-align: top;
	width: auto;
}
#contents {
	position: fixed; top: 0; left: 0;
	z-index: 5;
	width: 100%;
}
#colophon, #contact {
	background-color: #fff;
	opacity: .8;
}
#contact {
	padding: 0 .5em;
	position: absolute; top: 0; right: 5px;
}
#contributors {
	background-color: #EEE;
	float: right;
	opacity: .8;
	width: 20em;
}
#intro {
	background-color: #fff;
	opacity: .8;
	padding: .5em 1em;
	width: 38em;
}
#scrollable {
	position: relative;
	z-index: 2;
}

/* major headings
............................................................................ */
#featured h2,
#categories h2,
#interfaces caption {
	background-color: #0971ce;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	padding: 1em;
	text-align: left;
	text-transform: uppercase;
}


/* listings by category
............................................................................ */
#categories, #interfaces {
	padding: 0;
	margin: 1em 0 0 0;
}
#categories div {
	margin: 1em .5em 0 .5em;
	vertical-align: top;
	width: 20em;
}
#categories dl {
	padding: 1em;
}
#categories dd,
#featured dd {
	margin-bottom: .8em;
}
#categories dt,
#featured dt {
	margin-bottom: .3em;
}
#categories a.hdg,
#featured a.hdg {
	font-weight: bold;
}

/* colophon
............................................................................ */
#colophon {
	font-size: .9em;
	margin: 3em 0 0 0;
	padding: .5em;
	text-align: center;
}

/* table of contents nav panel
............................................................................ */
#contents {
	background-color: rgba(0, 112, 205, .5);
	color: #fff;
	font-size: 0.9em;
	padding: .5em 0;
	width: 100%;
}
#contents img {
	margin: 0 1em;
}
#contents ul {
	display: inline-block;
	float: right;
	margin: 1.5em 2em 0 0;
}
#contents li {
	display: inline-block;
	font-size: 0.8125rem;
	font-weight: bold;
	margin: 0 0.5em;
	white-space: nowrap;
	text-transform: uppercase;
}
#contents a {
	color: #fff;
}
#contents a:hover {
	background-color: transparent;
	color: #000;
}
	

/* list of contributors
............................................................................ */
#contributors {
	font-size: .9em;
	padding: 0 .5em 1em .5em;
}
#contributors a {
	padding-left: 0.5em;
}
#contributors h2 {
	font-size: 1.2em;
	margin: .5em 1em .3em 0;
}
#contributors ul {
	line-height: 1.4em;
	list-style: none;
	padding: 0;
}

/* featured contributions
............................................................................ */
#featured {
	background-color: #0971ce;
	color: #fff;
}
#featured a {
	color: #fff;
}
#featured a.hdg {
	font-size: 1.2em;
}
#featured dl {
	padding: 1em;
}
#featured h2 {
	background-color: #3a8dd8;
	font-size: 1.2em;
	margin-top: .5em;
	text-transform: uppercase;
}

/* interfaces and plugins
............................................................................ */
#interfaces caption {} /* see #categories h2 */
#interfaces td {
	line-height: 1.3em;
	padding: 0.2em 0.5em;
}
#interfaces td div {
	white-space: nowrap;
}
#interfaces td.repository {
	font-weight: bold;
}

/* scrollable page body 
............................................................................ */
#scrollable {
	padding: 0 1em;
}

/* classes
............................................................................ */
.author {
	font-size: 90%;
}
.country {
	color: gray;
	font-size: .9em;
	padding: 0 .5em;
}
.os {
	color: maroon;
	font-size: .8em;
	padding: 0 .5em;
}
.tag {
	color: gray;
	padding: 0 .5em;
}
.tag:before {
	content:'[';
}
.tag:after {
	content:']';
}
